<!DOCTYPE html>
<html>
<div th:replace="fragments/head :: head"></div>
<body>
	<div class="page-holder">
		<div th:replace="fragments/header :: header"></div>

		<!-- HERO SECTION-->
		<div class="container-fluid">
			<section class="py-5 bg-light">
				<div class="container">
					<div class="row px-4 px-lg-5 py-lg-2 align-items-center">
						<div class="col-lg-6">
							<h1 class="h2 text-uppercase mb-0">Finaliza el pedido</h1>
						</div>
						<div class="col-lg-6 text-lg-right">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb justify-content-lg-end mb-0 px-0">
									<li class="breadcrumb-item"><a href="/home">Home</a></li>
									<li class="breadcrumb-item"><a href="/cesta">Cesta</a></li>
									<li class="breadcrumb-item active" aria-current="page">Checkout</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<section class="py-5">
				<!-- BILLING ADDRESS-->
				<div class="row">
					<div class="col-lg-8">
						<div class="card">
							<div class="h4 card-header font-syne py-lg-4">Detalles de
								facturación</div>
							<div class="card-body">
								<fieldset>
									<legend>Tus datos de envio y contacto</legend>
									<div class="row">
										<div class="col-lg-6 form-group">
											<label class="text-small text-uppercase" for="nombre">Nombre</label>
											<input class="form-control form-control-lg" id="nombre"
												type="text" th:value="${session.usuario.nombre}" readonly>
										</div>
										<div class="col-lg-6 form-group">
											<label class="text-small text-uppercase" for="apellidos">Apellidos</label>
											<input class="form-control form-control-lg" id="apellidos"
												type="text"
												th:value="${session.usuario.apellido1} + ${' '} + ${session.usuario.apellido2}"
												readonly>
										</div>
										<div class="col-lg-6 form-group">
											<label class="text-small text-uppercase" for="email">Email</label>
											<input class="form-control form-control-lg" id="email"
												type="email" th:value="${session.usuario.email}" readonly>
										</div>
										<div class="col-lg-6 form-group">
											<label class="text-small text-uppercase" for="phone">Telefono</label>
											<input class="form-control form-control-lg" id="phone"
												type="tel" th:value="${session.usuario.telefono}" readonly>
										</div>
										<div class="col-lg-4 form-group">
											<label class="text-small text-uppercase" for="company">Direccion</label>
											<input class="form-control form-control-lg" id="company"
												type="text" th:value="${session.usuario.direccion}" readonly>
										</div>
										<div class="col-lg-4 form-group">
											<label class="text-small text-uppercase" for="company">Direccion</label>
											<input class="form-control form-control-lg" id="company"
												type="text" th:value="${session.usuario.provincia}" readonly>
										</div>
										<div class="col-lg-4 form-group">
											<label class="text-small text-uppercase" for="address">Localidad</label>
											<input class="form-control form-control-lg" id="address"
												type="text" th:value="${session.usuario.localidad}" readonly>
										</div>
										<div class="col-lg-12 form-group mb-2 mt-2">
											<a class="btn btn-dark" th:href="@{/miUsuario/modificar}">Modificar
												datos de usuario y direcciones de envio </a>
										</div>

										<br>

										<legend>Datos del pedido</legend>

										<form th:action="@{/cesta/pedido/guardar}" method="post">
											<div class="col-lg-12 form-group">
												<label class="text-small text-uppercase" for="estado">Estado</label>
												<input class="form-control form-control-lg" id="estado"
													type="text" th:value="${pedido.estado}" readonly>
											</div>

											<div class="col-lg-12 form-group">
												<label class="text-small text-uppercase" for="email">Fecha</label>
												<input class="form-control form-control-lg" id="email"
													type="date" th:value="${pedido.fecha}" readonly>
											</div>

											<br>
											<legend>Método de pago</legend>

											<div class="col-lg-6 form-group" th:each="metodo : ${metodosPago}">
												<div class="form-check">
													<input class="form-check-input" type="radio" name="metodo_pago" id="tarjeta" th:value="${metodo.metodo_pago}"> 
														<label class="form-check-label" for="flexRadioDefault1" th:text="${metodo.metodo_pago}"> </label>
												</div>
											</div>


											<div class="col-lg-12 form-group mt-3">
												<button class="btn btn-primary" type="submit">Finalizar
													pedido</button>
											</div>
										</form>
									</div>
								</fieldset>
							</div>
						</div>
					</div>


					<!-- ORDER SUMMARY-->
					<div class="col-lg-4">
						<div class="card border-0 rounded-0 p-lg-4 bg-light">
							<div class="card-body">
								<h5 class="text-uppercase mb-4">Tu pedido</h5>
								<ul class="list-unstyled mb-0">
									<div th:each="linea : ${cesta}">
										<li class="d-flex align-items-center justify-content-between">
										<span class="text-muted small" th:text="${'x'} + ${linea.unidades}"></span>
											<span class="small font-weight-bold" th:text="${linea.productoNombre}"></span> 
											<span class="text-muted small" th:text="${linea.total}+ ${'€'}"></span>
										</li>
										<li class="border-bottom my-2"></li>
									</div>
									<li class="d-flex align-items-center justify-content-between"><strong
										class="text-uppercase small font-weight-bold">Total</strong><span th:text="${pedido.total}+ ${'€'}"></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/importScripts :: scripts"></div>
	</div>
</body>
</html>