<!DOCTYPE html>
<html lang="en">
    <div th:replace="admin/fragments/head :: head"></div>
    <body>
    	<div th:replace="admin/fragments/header :: header"></div>
    	<div id="layoutSidenav">
         	<div th:replace="admin/fragments/nav :: nav"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Configuracion</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Administracion</a></li>
                            <li class="breadcrumb-item active">Configuracion</li>
                        </ol>
                        <!--<div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                   Esto queda bien para poner los errores
                                </p>
                            </div>
                        </div>-->
                        
                        <a class="btn btn-primary " th:href="@{/admin/configuraciones/nuevo}" role="button">Nueva configuacion</a>

                        <table class="table table-bordered table-striped table-hover">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                             <tbody>
                            	 <tr th:each="config : ${configuraciones}">
	                                <th th:text="${config.id}"></th>
	                                <td th:text="${config.clave}"></td>
	                                <td th:text="${config.valor}"></td>
	                                <td th:text="${config.tipo}"></td>
	                                
	                                <td >
	                                    <a th:if="${session.usuario.id_rol == 1}" class="btn btn-danger btn-sm" th:href="@{/admin/configuraciones/borrar/{configID}/ (configID = ${config.id})}"><i class="fas fa-trash-alt"></i> Eliminar</a>
	                                    <a class="btn btn-primary btn-sm" th:href="@{/admin/configuraciones/editar/{configID}/ (configID = ${config.id}) }"><i class="fas fa-pen"></i> Modificar</a>
	                                </td>
	                              </tr>
	                            
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-end">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                </ul>
                            </nav>
                        </div>
                        
                    </div>
                </main>
                
                <div th:replace="admin/fragments/footerYscripts :: footer"></div>
                 
            </div>  
        </div>  <!-- cierre del contenido que se importa del archivo js/piezas/headerYnac.html -->
    </body>
</html>
