<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/fragments/head :: head"></div>
<body>
	<div th:replace="admin/fragments/header :: header"></div>
	<div id="layoutSidenav">
		<div th:replace="admin/fragments/nav :: nav"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Editar usuario</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="/admin">Administracion</a></li>
						<li class="breadcrumb-item"><a href="/admin/usuarios">Usuarios</a></li>
						<li class="breadcrumb-item active">Editar usuario</li>
					</ol>
					<!--<div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                   Esto queda bien para poner los errores
                                </p>
                            </div>
                        </div>-->

					<form method="post" th:object="${user}"
						th:action="@{/admin/usuarios/editar/{usrID}/guardar (usrID = ${usuario.id}) }">
						<div class="form-group">

							<label for="id_rol" class="form-label">Rol</label>
							<div th:if="${session.usuario.id_rol==1}">
								<select class="form-select" id="id_rol" name="id_rol"
									aria-label="Default select example">
									<option selected th:value="${usuario.id_rol}">No
										cambiar</option>
									<div th:each="rol : ${roles}">
										<option th:value="${rol.id}" th:text="${rol.rol}"></option>
									</div>
								</select>
							</div>

							<div th:if="${session.usuario.id_rol!=1}">
								<select class="form-select" id="id_rol" name="id_rol"
									aria-label="Default select example" readonly>
									<option selected th:value="${usuario.id_rol}">No
										cambiar</option>
								</select>
							</div>


							<label for="nombre">Nombre</label> <input type="text"
								class="form-control" id="nombre" name="nombre"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.nombre}" required> <label
								for="email">Correo</label> <input type="email"
								class="form-control" id="email" name="email"
								placeholder="Indica el correo" th:value="${usuario.email}"
								readonly> <label for="apellido1">Apellido 1</label> <input
								type="text" class="form-control" id="apellido1" name="apellido1"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.apellido1}" required> <label
								for="precio">Apellido 2</label> <input type="text"
								class="form-control" id="apellido2" name="apellido2"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.apellido2}" required> <label
								for="direccion">Direcion</label> <input type="text"
								class="form-control" id="direccion" name="direccion"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.direccion}" required> <label
								for="provincia">Provincia</label> <input type="text"
								class="form-control" id="provincia" name="provincia"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.provincia}" required> <label
								for="localidad">Localidad</label> <input type="text"
								class="form-control" id="localidad" name="localidad"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.localidad}" required> <label
								for="telefono">Telefono</label> <input type="text"
								class="form-control" id="telefono" name="telefono"
								placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.telefono}" required> <label
								for="imagen">Dni</label> <input type="text" class="form-control"
								id="dni" name="dni" placeholder="Indica el nombre del rol nuevo"
								th:value="${usuario.dni}" required>
						</div>

						<button type="submit" class="btn btn-primary my-2">Guardar</button>

					</form>

				</div>
			</main>

			<div th:replace="admin/fragments/footerYscripts :: footer"></div>

		</div>
	</div>
	<!-- cierre del contenido que se importa del archivo js/piezas/headerYnac.html -->

</body>
</html>
