<!DOCTYPE html>
<html lang="en">
    <div th:replace="admin/fragments/head :: head"></div>
    <body>
    	<div th:replace="admin/fragments/header :: header"></div>
    	<div id="layoutSidenav">
         	<div th:replace="admin/fragments/nav :: nav"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Nuevo impuesto</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Administracion</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/impuestos}">Impuestos</a></li>
                             <li class="breadcrumb-item active">Nuevo impuesto</li>
                        </ol>

						<form method="post" th:object="${impuesto}" th:action="@{/admin/impuestos/nuevo/guardar} " >
						  <div class="form-group">
						    <label for="impuesto">Nombre del nuevo método de pago</label>
						    <input type="text" class="form-control" id="impuesto" name="impuesto" placeholder="Indica el impuesto" required>
						  </div>
						  
						  <button type="submit" class="btn btn-primary my-2">Guardar</button>
						  
						</form>
                        
                    </div>
                </main>
                
                <div th:replace="admin/fragments/footerYscripts :: footer"></div>
                 
            </div>
        </div>
    </body>
</html>
