<!DOCTYPE html>
<html lang="en">
    <div th:replace="admin/fragments/head :: head"></div>
    <body>
    	<div th:replace="admin/fragments/header :: header"></div>
    	<div id="layoutSidenav">
         	<div th:replace="admin/fragments/nav :: nav"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Editar producto</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Administracion</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/productos}">Productos</a></li>
                            <li class="breadcrumb-item active">Editar producto</li>
                        </ol>

						<form method="post" th:object="${prod}" th:action="@{/admin/productos/editar/{prodID}/guardar (prodID = ${prod.id}) } " >
						  <div class="form-group">
						  
						    <label for="categoria" class="form-label">Categoria</label>
                        	<select class="form-select" id="categoria" name="categoria" aria-label="Default select example">
                        	  <option selected th:value="${prod.categoria}"  th:text="${prod.categoria.nombre}"></option>
                        	  <div th:each="cat : ${categorias}" >
                        	  	<option th:value="${cat}" th:text="${cat.nombre}"></option>
                        	  </div>
							</select>
							
						    <label for="nombre">Nombre de producto</label>
						    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${prod.nombre}" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="descripcion">Descripcion</label>
						    <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${prod.descripcion}" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="precio">Precio</label>
						    <input type="text" class="form-control" id="precio" name="precio" th:value="${prod.precio}" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="stock">Stock</label>
						    <input type="text" class="form-control" id="stock" name="stock" th:value="${prod.stock}" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="fecha_alta">Fecha alta</label>
						    <input type="date" class="form-control" id="fecha_alta" name="fecha_alta" th:value="${prod.fecha_alta}" required>
						    <label for="fecha_baja">Fecha baja</label>
						    <input type="date" class="form-control" id="fecha_baja" name="fecha_baja" th:value="${prod.fecha_baja}" required>
						    
						    <label for="impuesto">Impuesto</label>
						    <select class="form-select" id="impuesto" name="impuesto" aria-label="Default select example">
						      <option selected th:value="${prod.impuesto}" >No cambiar</option>
                        	  <div th:each="imp : ${impuestos}" >
                        	  	<option th:value="${imp.impuesto}" th:text="${imp.impuesto}"></option>
                        	  </div>
							</select>
						    
						    <label for="imagen">Imagen</label>
						    <input type="text" class="form-control" id="imagen" name="imagen" th:value="${prod.imagen}" placeholder="Indica el nombre del rol nuevo" required>
						    
						    <label for="proveedor">Proveedores</label>
						    <select class="form-select" id="id_prov" name="proveedor" aria-label="Default select example">
		                       	  <option selected th:value="${prod.proveedor}" th:text="${prod.proveedor.nombre}"></option>
		                       	  <div th:each="prov : ${proveedores}" >
		                       	  		<option th:value="${prov}" th:text="${prov.nombre}"></option>
		                       	  </div>
							</select>
									
						    <input type="text" class="form-control" id="id" name="id" th:value="${prod.id}" required hidden>
						  </div>
						  
						  <button type="submit" class="btn btn-primary my-2">Guardar</button>
						  
						</form>
                        
                    </div>
                </main>
                
                <div th:replace="admin/fragments/footerYscripts :: footer"></div>
                 
            </div>
        </div>  <!-- cierre del contenido que se importa del archivo js/piezas/headerYnac.html -->

    </body>
</html>
