<!DOCTYPE html>
<html lang="en">
    <div th:replace="admin/fragments/head :: head"></div>
    <body>
    	<div th:replace="admin/fragments/header :: header"></div>
    	<div id="layoutSidenav">
         	<div th:replace="admin/fragments/nav :: nav"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Nuevo producto</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Administracion</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/productos}">Productos</a></li>
                             <li class="breadcrumb-item active">Nuevo producto</li>
                        </ol>

						<form method="post" th:object="${prod}" th:action="@{/admin/productos/nuevo/guardar}" enctype="multipart/form-data">
						  <div class="form-group">
						  
						    <label for="categoria.id" class="form-label">Categoria</label>
                        	<select class="form-select" id="categoria.id" name="categoria.id" aria-label="Default select example">
                        	  <div th:each="cat : ${categorias}" >
                        	  	<option th:value="${cat.id}" th:text="${cat.nombre}"></option>
                        	  </div>
							</select>
							
						    <label for="nombre">Nombre de producto</label>
						    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="descripcion">Descripcion</label>
						    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="precio">Precio</label>
						    <input type="text" class="form-control" id="precio" name="precio" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="stock">Stock</label>
						    <input type="text" class="form-control" id="stock" name="stock" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="fecha_alta">Fecha alta</label>
						    <input type="date" class="form-control" id="fecha_alta" name="fecha_alta" placeholder="Indica el nombre del rol nuevo" required>
						    <label for="fecha_baja">Fecha baja</label>
						    <input type="date" class="form-control" id="fecha_baja" name="fecha_baja" placeholder="Indica el nombre del rol nuevo" required>
						    
						    <label for="impuesto">Impuesto</label>
						    <select class="form-select" id="impuesto" name="impuesto" aria-label="Default select example">
                        	  <div th:each="imp : ${impuestos}" >
                        	  	<option th:value="${imp.impuesto}" th:text="${imp.impuesto}"></option>
                        	  </div>
							</select>
							
						    <label for="archivo">Imagen</label>
						    <input type="file" class="form-control" name="archivo" id="archivo">
						    
						    <label for="proveedor.id">Proveedores</label>
						    <select class="form-select" id="proveedor.id" name="proveedor.id" aria-label="Default select example">
		                       	  <div th:each="prov : ${proveedores}" >
		                       	  		<option th:value="${prov.id}" th:text="${prov.nombre}"></option>
		                       	  </div>
							</select>
							
						    
						  </div>
						  
						  <button type="submit" class="btn btn-primary my-2">Guardar</button>
						  
						</form>
                        
                    </div>
                </main>
                
                <div th:replace="admin/fragments/footerYscripts :: footer"></div>
                 
            </div>
        </div>  <!-- cierre del contenido que se importa del archivo js/piezas/headerYnac.html -->

    </body>
</html>
