<!DOCTYPE html>
<html lang="en">
    <div th:replace="admin/fragments/head :: head"></div>
    <body>
    	<div th:replace="admin/fragments/header :: header"></div>
    	<div id="layoutSidenav">
         	<div th:replace="admin/fragments/nav :: nav"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Productos</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Administracion</a></li>
                            <li class="breadcrumb-item active">Productos</li>
                        </ol>
                        
                        <a class="btn btn-primary mb-3" th:href="@{/admin/productos/nuevo}" role="button">Nuevo producto</a>
                        <a class="btn btn-success mb-3" th:href="@{/admin/productos/exportar}" role="button">Exportar productos a .xsl</a>
                        <a class="btn btn-outline-success mb-3" th:if="${session.usuario.id_rol == 1}" th:href="@{/admin/productos/recuperarDatos/}" role="button">Importar productos de un .xsl</a>

                        
                        <div class="alert alert-success" role="alert" th:if="${mensajeOk != null}">
							<span th:text="${mensajeOk}"></span>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<form method="post" th:action="@{/admin/productos}" class="mb-3">
		                        	<label for="id_cat" class="form-label">Indica una cateogoria para buscar</label>
		                        	<select class="form-select" id="id_cat" name="id_cat" aria-label="Default select example">
		                        	  <option selected value="todos" >Todas</option>
		                        	  <div th:each="cat : ${categorias}" >
		                        	  	<option th:value="${cat.id}" th:text="${cat.nombre}"></option>
		                        	  </div>
									</select>
									
									<button type="submit" class="btn btn-primary mt-3">Buscar por categoría</button>
		                        </form>
							</div>
							
							<div class="col-md-6">
								<form method="post" th:action="@{/admin/productos}" class="mb-3">
		                        	<label for="id_prov" class="form-label">Indica un proveedor</label>
		                        	<select class="form-select" id="id_prov" name="id_prov" aria-label="Default select example">
		                        	  <option selected value="todos" >Todos</option>
		                        	  <div th:each="prov : ${proveedores}" >
		                        	  	<option th:value="${prov.id}" th:text="${prov.nombre}"></option>
		                        	  </div>
									</select>
									
									<button type="submit" class="btn btn-primary mt-3">Buscar por proveedor</button>
		                        </form>
							</div>
						</div>

                        <table class="table table-bordered table-striped table-hover">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Fecha alta</th>
                                <th scope="col">Fecha baja</th>
                                <th scope="col">Impuesto</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
	                              <tr th:each="prod : ${productos}">
	                                <th th:text="${prod.id}"></th>
	                                <td th:text="${prod.categoria.nombre}"></td>
	                                <td th:text="${prod.nombre}"></td>
	                                <td th:text="${prod.descripcion}"></td>
	                                <td th:text="${prod.precio}"></td>
	                                <td th:text="${prod.stock}"></td>
	                                <td th:text="${prod.fecha_alta}"></td>
	                                <td th:text="${prod.fecha_baja}"></td>
	                                <td th:text="${prod.impuesto}"></td>
	                                <td>
	                                    <a class="btn btn-danger btn-sm" th:href="@{/admin/productos/borrar/{prodID}/ (prodID = ${prod.id})}"><i class="fas fa-trash-alt"></i> Eliminar</a>
	                                    <a class="btn btn-primary btn-sm" th:href="@{/admin/productos/editar/{prodID}/ (prodID = ${prod.id})}"><i class="fas fa-pen"></i> Modificar</a>
	                                    <a class="btn btn-info btn-sm" th:href="@{/admin/productos/verCliente/{prodID}/ (prodID = ${prod.id})}"><i class="fas fa-pen"></i> Ver como cliente</a>
	                                </td>
	                              </tr>
	                            
                            </tbody>
                        </table>
                        
                    </div>
                </main>
                
                <div th:replace="admin/fragments/footerYscripts :: footer"></div>
                 
            </div>  
        </div>  <!-- cierre del contenido que se importa del archivo js/piezas/headerYnac.html -->
    </body>
</html>
