<!DOCTYPE html>
<html>
<div th:replace="fragments/head :: head"></div>
<body>
	<div class="page-holder">
		<div th:replace="fragments/header :: header"></div>

		<div class="container">
			<div class="row">
				<div id="center-column" class="center col-12">
					<div class="center-wrapper">
						<section id="envios">
							<h1 class="page-heading">
								<span> Envío </span>
							</h1>
							<section id="content" class="page-content page-cms page-cms-16">
								<div class="typo">

									<h2>Política de envío.</h2>
									<h3>
										<span id="result_box"><span
											style="background-color: #ffffff;"
											title="Le transport de votre colis">El transporte de
												su paquete.</span></span>
									</h3>
									<p>En bdskateshop intentamos ofrecer el mejor servicio
										posible, por eso queremos que las compras estén en manos de
										los clientes de la forma más rápida, cómoda y segura.</p>
									<p>
										<strong>Tiempo Entrega.</strong>
									</p>
									<p>
										Los pedidos recibidos antes de las 14:00 serán enviados ese
										mismo día con un <strong>servicio de entrega en 24 H</strong>
										(48h para algunas poblaciones).
									</p>
									<p>Estos plazos de entrega se aplicarán para pedidos con
										destino para la península. Para las Islas Baleares y Portugal
										el plazo de entrega es de 3 días con transporte urgente, y 4-5
										con Correos.</p>
									<p>Durante los sábados, domingos y festivos no se realizan
										envíos ó entregas.</p>
									<p>Para Canarias, Ceuta y Melilla, el envío se realiza por
										Correos, y tiempo de entrega es de aproximadamente 15 días
										laborables.</p>
									<p>Para Europa el tránsito será de 3 a 7 días dependiendo
										del país de destino.</p>
									<hr>
									<p></p>
									<p>
										<strong>Gastos Envío.</strong>
									</p>
									<p>Para España y Portugal.</p>
									<p>Si el pedido supera los 39€ los gastos de envío serán
										GRATUITOS. Oferta disponible para España (península), Baleares
										y Portugal (península)</p>
									<p>Si se usa el servicio de pago por contrareembolso este
										llevará un coste de 2€.</p>
									<p>Los gastos de envío, si los hubiera SIEMPRE aparecerán
										antes de confirmar el pedido. El importe final de su pedido
										NUNCA se verá incrementado.</p>
									<p>
										<span style="text-decoration: underline;">Para Europa.</span>
									</p>
									<p>Para los pedidos con destino países Europeos el importe
										dependerá del país de destino. El importe aparecerá al antes
										de confirmar el pedido para que el cliente sepa exactamente a
										cuánto asciende los gastos de envío.</p>
									<p>Para pedidos superiores a 90€ el envío será gratuito</p>
									<p>Recordamos que el pedido será entregado en la dirección
										de Entrega, por tanto no tendrás que moverte de casa, del
										trabajo, etc. Te entregamos el pedido donde nos digas.</p>
									<p>
										<strong>Seguridad en el envío.</strong>
									</p>
									<p>Usamos las mejores empresas de transporte para que tu
										pedido llegue lo antes posible y de forma segura. No obstante,
										ten la seguridad de que si durante el transporte el pedido se
										extravía o pierde BD se haría cargo de la pérdida y enviaría
										un nuevo pedido al cliente al cliente o le reembolsaría el
										importe pagado si ya no hubiera más stock.</p>

								</div>
							</section>
						</section>

						<section id="cambios">
							<h1 class="page-heading">
								<span> Cambios y devoluciones </span>
							</h1>
							<section id="content" class="page-content page-cms page-cms-18">
								<div class="typo">
									<hr>
									<p>En BD shop queremos que quedes totalmente satisfecho con
										tu compra. Si por cualquier motivo no te gusta lo que has
										comprado puedes devolverlo sin más. Así de sencillo.</p>
									<p>
										De acuerdo con la ley ( art. 44 de la Ley 7/1996, de 15 de
										enero de Ordenación del Comercio Minorista modificada por la
										Ley 47/2002, de 19 de diciembre) el plazo para devolver un
										artículo es de 7 días, sin embargo en <strong>BD Shop
										</strong>contarás con <strong>15 días</strong> hábiles desde la fecha
										de recepción del pedido para hacer tu devolución
									</p>
									<p>Antes de enviar el paquete, por favor ponte en contacto
										con nosotros para avisarnos de la devolución.</p>
									<p>Los motivos de devolución pueden ser de 3 tipos. Según
										de cuál estemos hablando, el&nbsp; procedimiento a seguir será
										diferente.</p>
									<ol>
										<li><strong>- Producto defectuoso:</strong></li>
									</ol>
									<ul>
										<li><strong> </strong></li>
									</ul>
									<p>
										Si el artículo que has recibido sufre algún defecto y quieres
										devolverlo debes ponerte en contacto con nosotros de forma
										inmediata vía email (<strong>bdskateshop@gmail.com</strong>)
										indicando el número de pedido y fecha de compra, nombre
										completo, teléfono de contacto, además de indicar que artículo
										has recibido con defecto ( por favor indica su número de
										referencia que aparece en la hoja de pedido) y que tipo de
										defecto sufre.
									</p>
									<p>Tras recibir tu email, nos pondremos en contacto contigo
										pidiéndote una foto del artículo donde se vea el defecto en
										cuestión (puedes mandar la/s fotos en el email para agilizar
										los trámites de devolución). Además te daremos las
										indicaciones necesarias para proceder a la devolución. El
										transporte será gestionado por bdskateshop y correrá a nuestra
										cuenta.</p>
									<p>Una vez que recibamos el producto y verifiquemos que
										realmente tiene un desperfecto procederemos al envío del mismo
										producto si esta en stock o el reembolso del importe del
										pedido si ya no estuviera disponible. En dicho caso
										reembolsaremos TODO el importe del pedido. Gastos de envío
										incluidos.</p>
									<p>
										<br> <strong>- Producto recibido no corresponde
											al pedido por el cliente.</strong>
									</p>
									<p></p>
									<p>Si has recibido un producto que no se corresponde con el
										comprado, ponte en contacto con nosotros de forma inmediata
										para que podamos enmendar el error. ( teléfono: 980 67 03 94,
										email: bdskateshop@gmail.com)</p>
									<p>BD correrá con los gastos de recogida del producto
										equivocado y entrega del correspondiente al del pedido
										realizado. ( no olvides que el producto debe estar SIN USAR).</p>
									<p>Dispones de 15 días desde la fecha del pedido para
										realizar tu devolución, pasado ese plazo las devoluciones no
										serán aceptadas.</p>
									<p>
										<strong>-Si el producto que has pedido no te
											satisface:</strong>
									</p>
									<p>Si has recibido tu pedido correctamente pero quieres
										devolver algún producto o el total del pedido. No hay ningún
										problema. Puedes devolver el pedido de forma total ó parcial a
										la dirección indicada arriba y en el plazo de 15 días hábiles
										desde que recibiste el paquete.</p>
									<p>Para proceder a realizar la devolución asegúrate de
										cumplir las siguientes condiciones:</p>
									<p>
										-Los productos tienen que estar en perfectas condiciones, es
										decir: Sin usar, conservando los <span
											style="text-decoration: underline;">embalajes
											originales</span>, <span style="text-decoration: underline;">etiquetas</span>,
										garantías, etc.&nbsp;
									</p>
									<p>-En el envío se debe usar una caja protectora que
										garantice que el transporte se realiza con las seguridad y
										garantía suficientes para que el producto no sufra
										desperfectos. Como mínimo debe llevar el mismo tipo de
										embalaje en el que se recibió el producto.</p>
									<p>-Se debe incluir la hoja de pedido ( o una copia) . Esto
										nos facilitará el trabajo a la hora de localizar su pedido y
										proceder a la devolución del dinero.</p>
									<p>-El envío y los gastos de envío de la devolución
										correrán a cuenta del cliente. El riesgo de pérdida del
										producto durante el envío de vuelta correrá a cargo del
										cliente, por tanto por favor usen un transportista fiable
										(Correos, Seur, DHL,etc)</p>
									<p>Una vez que recibamos el paquete, y verifiquemos que
										el/los &nbsp;producto/s se encuentran en perfectas
										condiciones, nos pondremos en contacto contigo para devolver
										el importe del pedido ( excepto los gastos de envío si los
										hubiese). Por favor, no olvides incluir todos tus datos en el
										envío y una copia de tu pedido para agilizar las gestiones
										además de respetar las condiciones arriba señaladas.</p>
									<p>Si quieres cambiar el producto por otro, no dudes en
										llamarnos para reservarte ese producto hasta que llegue la
										devolución y podamos &nbsp;proceder al cambio.</p>
									<p>La devolución del importe se hará en el menor tiempo
										posible, pudiendo este oscilar entre 1 y 10 días. La
										devolución se hará por transferencia bancaria ó paypal (si has
										utilizado esta forma de pago).</p>
									<p>
										Por favor, recordar que los artículos deben estar <strong>SIN
											USAR. Y en su embalaje original</strong>.&nbsp;
									</p>
									<p>Una vez que recibamos el paquete, nos pondremos en
										contacto contigo para devolverte el importe del pedido (
										excepto los gastos de envío si los hubiese), para cambiarte el
										producto por otro ( si el pedido genera nuevos gastos de envío
										estos serán asumidos por el cliente salvo que el importe del
										nuevo pedido del sea superior a 75€). &nbsp;Por favor, no
										olvides incluir todos tus datos en el envío y una copia de tu
										pedido para agilizar las gestiones.</p>

								</div>
							</section>
						</section>

						<section id="content" class="page-content page-cms page-cms-5">
							<div class="typo">
								<h2>Pago seguro</h2>
								<hr>
								<p></p>
								<p style="text-align: justify;">Existen cuatro formas de
									realizar el pago:</p>
								<p></p>
								<p style="text-align: justify;">
									- <strong>Contrarembolso</strong>. La forma más fácil para el
									cliente, lleva un coste de 2 € añadido por gestión del pago por
									parte del transportista. El cliente hace el pedido y elige la
									opción “pago por contrarembolso”. El cliente paga cuando le
									llegue el paquete a su dirección. Así de fácil. Solo disponible
									para la península (España y Portugal) y Baleares.
								</p>
								<p></p>
								<p style="text-align: justify;">
									- <strong>Transferencia bancaria:</strong> el cliente hace el
									pago en el número de cuenta que aparecerá al hacer el pedido en
									la web, eligiendo la forma de pago “Transferencia bancaria”
								</p>
								<p></p>
								<p style="text-align: justify;">
									<strong>- Pago por tarjeta de crédito.</strong>
								</p>
								<p></p>
								<p style="text-align: justify;">
									- <strong>Paypal</strong>. Eligiendo esta opción al hacer el
									pedido podrá hacer el pago usando paypal de una forma rápida y
									100% segura. Del mismo modo, Si hay algo que no te ha quedado
									claro sobre el proceso de compra, gastos de envío, etc.
								</p>
								<p></p>
								<p style="text-align: justify;">Contacta con nosotros,
									estamos para ayudarte!.</p>
							</div>
						</section>
					</div>
				</div>




			</div>
			<!-- /row -->
		</div>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/importScripts :: scripts"></div>
	</div>
</body>
</html>