<!DOCTYPE html>
<html>
<div th:replace="fragments/head :: head"></div>
<body>
	<div class="page-holder">
		<div th:replace="fragments/header :: header"></div>

		<!-- HERO SECTION-->
		<div class="container-fluid">
			
			<div class="alert alert-success" role="alert" th:if="${mensajeOk != null}">
				<span th:text="${mensajeOk}"></span>
			</div>
			
			<section
				class="hero pb-3 bg-cover bg-center d-flex align-items-center"
				style="background: url(/img/hero-banner-alt.jpg)">
				<div class="container py-5">
					<div class="row px-4 px-lg-5">
						<div class="col-lg-6">
							<p class="text-muted small text-uppercase mb-2">Temporada 2021-2022</p>
							<h1 class="h2 text-uppercase mb-3">La mejor seleccion</h1>
							<a class="btn btn-dark" th:href="@{/tienda}">Ver todos los prodcutos</a>
						</div>
					</div>
				</div>
			</section>
			<!-- CATEGORIES SECTION-->
			<section class="pt-5">
				<header>
					<p class="small text-muted small text-uppercase mb-1">Como los profesionales</p>
					<h2 class="h5 text-uppercase mb-4">Categorias</h2>
				</header>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-sm-6 border-category">
							<a class="category-item" href="tienda?cat=1"><img
								class="img-fluid" src="/img/bici-city.png" alt="cat city"><strong
								class="category-item-title">Bicicletas urbanas</strong></a>
						</div>
						<div class="col-xl-3 col-lg-4 col-sm-6 border-category">
							<a class="category-item" href="tienda?cat=2"><img
								class="img-fluid" src="/img/bici-gravel.png" alt="cat city"><strong
								class="category-item-title">Bicicletas de gravel</strong></a>
						</div>
						<div class="col-xl-3 col-lg-4 col-sm-6 border-category">
							<a class="category-item" href="tienda?cat=3"><img
								class="img-fluid" src="/img/bici-mountain.png" alt="cat city"><strong
								class="category-item-title">Bicicletas de montaña</strong></a>
						</div>
						<div class="col-xl-3 col-lg-4 col-sm-6 border-category">
							<a class="category-item" href="tienda?cat=4"><img
								class="img-fluid" src="/img/bici-road.png" alt="cat city"><strong
								class="category-item-title">Bicicletas de carretera</strong></a>
						</div>
					</div>
				</div>

			</section>
			<!-- TRENDING PRODUCTS-->
			<section class="py-5">
				<header>
					<p class="small text-muted small text-uppercase mb-1">Lo mas nuevo de la temporada</p>
					<h2 class="h5 text-uppercase mb-4">Productos mas recientes</h2>
				</header>
				
				<div class="row">
					<!-- PRODUCT-->
					<div class="col-xl-2 col-lg-2 col-sm-4" th:each="prod : ${productos}">
						<div class="product text-center">
							<div class="position-relative mb-3">
								<div class="badge text-white badge-"></div>
								<a class="d-block" th:href="@{/producto/ver/{prodID}/ (prodID = ${prod.id})}">
									<img class="img-fluid w-100" th:src="@{/img/products/{name}/ (name = ${prod.imagen})}" th:alt="${prod.imagen}">
								</a>
								<div class="product-overlay">
									<ul class="mb-0 list-inline">
										<li class="list-inline-item m-0 p-0">
											<a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a>
										</li>
										<li class="list-inline-item m-0 p-0">
											<a class="btn btn-sm btn-dark" th:href="@{/cesta/add/{prodID}/ (prodID = ${prod.id})}">Añadir al carro</a>
										</li>
										<li class="list-inline-item mr-0">
											<a class="btn btn-sm btn-outline-dark"th:href="@{/producto/ver/{prodID}/ (prodID = ${prod.id})}"><i class="fas fa-expand"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<h6>
								<a class="reset-anchor" href="detail.html" th:text="${prod.nombre}"></a>
							</h6>
							<p class="small text-muted"><span th:text="${prod.precio}"></span> $</p>
						</div>
					</div>
					
				</div>
			</section>
			<!-- SERVICES-->
			<section class="py-5 bg-light">
				<div class="container">
					<div class="row text-center">
						<div class="col-lg-4 mb-3 mb-lg-0">
							<div class="d-inline-block">
								<div class="media align-items-end">
									
									<div class="media-body text-left ml-3">
										<h6 class="text-uppercase mb-1">Envio gratis</h6>
										<p class="text-small mb-0 text-muted">Envio gratis en la peninsula</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-3 mb-lg-0">
							<div class="d-inline-block">
								<div class="media align-items-end">
									
									<div class="media-body text-left ml-3">
										<h6 class="text-uppercase mb-1">24 x 7 disponible</h6>
										<p class="text-small mb-0 text-muted">Servicio activo siempre</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="d-inline-block">
								<div class="media align-items-end">
									
									<div class="media-body text-left ml-3">
										<h6 class="text-uppercase mb-1">Montaje sencillo</h6>
										<p class="text-small mb-0 text-muted">Nuestro equipo monta y comprueba antes del envio</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/importScripts :: scripts"></div>
	</div>
</body>
</html>