<!DOCTYPE html>
<html>
<div th:replace="fragments/head :: head"></div>
<body>
	<div class="page-holder">
		<div th:replace="fragments/header :: header"></div>

		<div class="container-fluid">
		
			<div class="alert alert-danger" role="alert" th:if="${mensaje != null or session.mensaje != null}">
				<span th:text="${mensaje}"></span>
				<span th:text="${session.mensaje}"></span>
			</div>
		
			<div class="card mb-4" id="forms">
				<div class="h4 card-header font-syne py-lg-4">Datos de usuario</div>
				<div class="card-body">
						<fieldset>
							<legend>Indica tus datos personales</legend>
							<hr class="my-2">
							<div class="form-group">
								<label class="text-small text-uppercase" for="nombre">Nombre</label>
								<input class="form-control" id="nombre" type="text" name="nombre"
									placeholder="Indica tu nombre">
							</div>readonly
							<div class="form-group">
								<div class=row>
									<div class="col-md-6">
										<label class="text-small text-uppercase"
											for="apellido1">Primer apellido</label> <input
											class="form-control" id="apellido1" type="text" name="apellido1"
											placeholder="Indica tu primer apellido">
									</div>
									<div class="col-md-6">
										<label class="text-small text-uppercase"
											for="apellido2">Segundo apellido</label> <input
											class="form-control" id="apellido2" type="text" name="apellido2"
											placeholder="Indica tu segundo apellido">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="text-small text-uppercase" for="dni">DNI</label>
								<input class="form-control" id="dni" type="text" name="dni"
									placeholder="Indica tu dni">
							</div>
							
							<div class="form-group">
								<label class="text-small text-uppercase" for="telefono">Teléfono</label>
								<input class="form-control" id="telefono" type="text" name="telefono"
									placeholder="Indica tu número de teléfono">
							</div>
							
							<div class="form-group">
								<label class="text-small text-uppercase" for="email">Correo</label>
								<input class="form-control" id="email" type="email" name="email"
									placeholder="Indica tu correo">
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Indica los datos de tu dirección</legend>
							<hr class="my-2">
							<div class="form-group">
								<label class="text-small text-uppercase" for="direccion">Dirección</label>
								<input class="form-control" id="direccion" type="text" name="direccion"
									placeholder="Indica tu correo">
							</div>
							<div class="form-group">
								<div class=row>
									<div class="col-md-6">
										<label class="text-small text-uppercase"
											for="provincia">Provincia</label> <input
											class="form-control" id="provincia" type="text" name="provincia"
											placeholder="Indica tu provincia">
									</div>
									<div class="col-md-6">
										<label class="text-small text-uppercase"
											for="localidad">Localidad</label> <input
											class="form-control" id="localidad" type="text" name="localidad"
											placeholder="Indica tu localidad">
									</div>
								</div>
							</div>
						</fieldset>
						<br>
						<hr class="my-4">
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/importScripts :: scripts"></div>
	</div>
</body>
</html>