<footer class="py-4 bg-light mt-auto" th:fragment="footer">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/lightbox2/js/lightbox.min.js"></script>
	<script src="/vendor/nouislider/nouislider.min.js"></script>
	<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="/vendor/owl.carousel2/owl.carousel.min.js"></script>
	<script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
	<script th:src="@{/js/front.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.bundle.js}"></script>
</footer>