<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="header">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/admin}">BikëMesiters Admin</a>
    <!-- Navbar-->
 	<a class="nav-link" th:href='@{/miUsuario/ver}'>Ver perfil</a>
 	<a class="nav-link" th:href='@{/miUsuario/modificar/}'>Modificar perfil</a>
 	<a class="nav-link" th:href='@{/miUsuario/modificarPass/}'>Cambiar contraseña</a>
 	<a class="nav-link text-danger" href='/login/cerrarSesion'>Cerrar sesión</a>	 	
</nav>

    