<div id="layoutSidenav_nav" th:fragment="nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div th:each="opc : ${session.menu}">
					<a class="nav-link" th:href="@{${opc.url_opcion}}" th:text="${opc.nombre_opcion}"></a>
				</div>
			</div>
		</div>	
			
		<div class="sb-sidenav-footer">
			<div class="small">Usuario:</div>
			<span th:text="${session.usuario.nombre}"></span>
		</div> 	    
		   
	</nav>
</div>